#title-container,
#year-container,
#genre-container {
	font-family: Teko, sans-serif;
	font-size: 1.75rem;
}

#title,
#year,
#genre {
	font-style: italic;
}



body {
	text-align: center;
	background-color: rgb(234, 234, 234);
}

h1 {
	font-family: Teko, sans-serif;
	font-size: 2.75rem;
	font-weight: 500;
	color: red;
	border: 6px double turquoise;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	width: 300px;
}

button {
	margin-top: 50px;
	margin-bottom: 10px;
	color: white;
	background-color: red;
    font-family: Teko, sans-serif;
	font-size: 1.5rem;
    font-weight: 250px;
	padding: 8px;
    border: none;
	border-radius: 10px;
	width: 120px;
}

button:hover {
	color: white;
	background-color: turquoise;
}

#image {
    width: 400px;
    height: 400px;
    background-color: rgb(234, 234, 234);
	object-fit: contain;
}

image-container {
    position: flex;
    display: inline-block;
}

#info-box {
    margin-top: 20px;
}

